body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Aurora";
  src: url("./assets/fonts/aurora.otf") format("opentype");
}
@font-face {
  font-family: "Marola";
  src: url("./assets/fonts/marola.ttf") format("truetype");
}
@font-face {
  font-family: "Specify";
  src: url("./assets/fonts/specify-personal-bold.ttf") format("truetype");
}